body{
    background-color: white;
    font-family: sans-serif;
    overflow-y: scroll;
    height: 100%;
}
.search-bar{
    border: 20;
    outline: 0;
    background: transparent;
    color: grey;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    border-style: solid;
    border-color: #D9D9D9;
    
}
.search-button{
    border-style: solid;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background-color: transparent;
    color: grey;
    border-color: #D9D9D9;
}

.inside-box{
    background-color: white;
    padding: 5%;
    text-align: center;
    height: 80%;
    width: 90%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
.outside-box{
    background-color: #D9D9D9;
    width: 90%;
 
    height: 100%;
    overflow: hidden;
    padding: 5%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.city, .temp{
    color: grey;
}
.footer{
    background-color: grey;
    font-size: 1em;
    color: grey;
}

.bg-color{
    background-color: #ebebeb;
    color: grey;
    min-height: 100vh;
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

 
}

a{
    text-decoration: none;
    text-decoration: solid;
    color: black;
    font-size: 1em;
    
}
ul{
    list-style-type: none;
}
.error{
    color: red;
    display: none;
    font-size: large;
    text-align: center;
}
.bg{
    background-color: #ebebeb;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}